@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@600&display=swap');
body main#game-section {
  width: 100vw;
}

body main#game-section div.game-container .game-header,
body main#game-section div.game-container .card-body,
body main#game-section div.game-container .card-footer,
body main#game-section div.game-container {
  border: 0 !important;
  background-color: transparent !important;
  box-shadow: none !important;
}

body main#game-section div.game-container {
  width: 60vw;
  min-width: 550px;
  margin: auto;
}

body main#game-section div.game-container .game-header .game-mode {
  position: relative;
  font-size: 22px;
  text-align: center;
  width: auto;
  font-weight: 900;
  letter-spacing: .1em;
  text-transform: uppercase;
  word-wrap: break-word;
  font-family: 'Kanit', sans-serif;
}

body main#game-section div.game-container .game-header .game-mode:after,
body main#game-section div.game-container .game-header .game-mode:before {
  position: absolute;
  content: '';
  left: 50%;
  transform: translateX(-50%);
  height: 3px;
  border-radius: 15px;
  width: 0%;
  background-color: #F9A622;
}

body main#game-section div.game-container .game-header .game-mode:after {
  top: -10%;
  animation: animted-line  4s ease-in-out infinite;
  animation-delay: 2s;
}

body main#game-section div.game-container .game-header .game-mode:before {
  top: 100%;
  animation: animted-line 4s ease-in-out infinite;
}

@keyframes animted-line  {
  0% {
    width: 0%;
  }
  50% {
    width: 100%;
  }
  100% {
    width: 0%;
  }
}

body main#game-section div.game-container .game-header #grid-text {
  font-size: 18px;
  padding: .7em .75em !important;
  border-radius: 0.375em !important;
  font-weight: bold;
  color: #fff;
  margin-right: 10px;
  letter-spacing: .1em;
  display: flex;
  align-self: center;
}

body main#game-section div.game-container .game-header .timer-container  {
  font-size: 18px;
  padding: 0.5em 1em !important;
  border-radius: 0.375em !important;
  font-weight: bold;
  color: #1F3540;
}

body main#game-section div.game-container .game-header .timer-container svg {
  width: 1.5em !important;
  animation: move 4s linear infinite;
}

@keyframes move {
  33.3% {
    transform: rotate(-20deg);
  }
  66.6% {
    transform: rotate(20deg) ;
  }
  100% {
    transform: rotate(0deg);
  }
}

body main#game-section div.game-container .game-header .timer-container  #timer-text {
  animation: scale 1s linear infinite;
 }
 
 @keyframes scale {
  33.3% {
    font-size: 20px;
  }
  66.6% {
    font-size: 16px;
  }
  100% {
    font-size: 18px;
  }
}

body main#game-section div.game-container .game-header #btn-reset,
body main#game-section div.game-container .game-header #btn-pause {
  background-color: #DFE6EC !important;
  border-radius: 0.375rem !important;
  padding: 0.35rem 0.5rem !important;
  box-shadow: 0px 4px 0px #31485ac7;
  transition: box-shadow 0.5s linear transform 0.5s linear !important;
}

body main#game-section div.game-container .game-header #btn-reset svg {
  animation: rotate 6s infinite linear !important;
}

@keyframes rotate {
  to {
    transform: rotate(0deg);
  }

  from {
    transform: rotate(360deg);
  }
}

body main#game-section div.game-container .game-header .icon-container {
  width: 1.8em;
  height: auto;
}

body main#game-section div.game-container .game-header button span {
  font-size: 10px;
  letter-spacing: 0.1em;
}

body main#game-section div.game-container .game-header button span.turn-text {
  transform: translateY(1.5px) !important;
  font-weight: 900 !important;
}

body main#game-section div.game-container .game-body {
  padding: 20px 0px 20px 0px;
}

body main#game-section div.game-container .game-body div.d-flex {
  flex-wrap: nowrap;
}

body main#game-section div.game-container .game-body .piece-container {
  padding: 10px 0px 10px 0px !important;
  width: calc(100% / 8);
} 

body main#game-section div.game-container .game-body .piece-container button.piece {
  padding: 20px !important;
  width: 55%;
  padding: 0 ;
  font-size: 36px;
  border-radius: 50%;
} 