@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@600&display=swap');
body main#game-section {
  width: 100vw;
}

body main#game-section div.game-container .game-header,
body main#game-section div.game-container .card-body,
body main#game-section div.game-container .card-footer,
body main#game-section div.game-container {
  border: 0 !important;
  background-color: transparent !important;
  box-shadow: none !important;
}

body main#game-section div.game-container {
  width: 60vw;
  margin: auto;
}

body main#game-section div.game-container .game-header .game-mode {
  position: relative;
  font-size: 22px;
  text-align: center;
  width: auto;
  font-weight: 900;
  letter-spacing: .1em;
  text-transform: uppercase;
  word-wrap: break-word;
  font-family: 'Kanit', sans-serif;
  text-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

body main#game-section div.game-container .game-header .game-mode:after,
body main#game-section div.game-container .game-header .game-mode:before {
  position: absolute;
  content: '';
  left: 50%;
  transform: translateX(-50%);
  height: 3px;
  border-radius: 15px;
  width: 0%;
  background-color: #F9A622;
  
}

body main#game-section div.game-container .game-header .game-mode:after {
  top: -7%;
  animation: animted-line  4s ease-in-out infinite;
  animation-delay: 2s;
}

body main#game-section div.game-container .game-header .game-mode:before {
  top: 98%;
  animation: animted-line 4s ease-in-out infinite;
}

@keyframes animted-line  {
  0% {
    width: 0%;
  }
  50% {
    width: 100%;
  }
  100% {
    width: 0%;
  }
}

body main#game-section div.game-container .game-header #grid-text {
  font-size: 18px;
  padding: .7em .75em !important;
  border-radius: 0.375em !important;
  font-weight: bold;
  color: #fff;
  margin-right: 10px;
  letter-spacing: .1em;
  display: flex;
  align-self: center;
  width: auto;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  transition: padding .3s ease-in-out;
}

body main#game-section div.game-container .icon-container {
  width: 1.8em;
  height: auto;
}

body main#game-section div.game-container .game-header .timer-container  {
  font-size: 18px;
  padding: 0.5em 1em !important;
  border-radius: 0.375em !important;
  font-weight: bold;
  color: #1F3540;
  width: auto;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  transition: padding .3s ease-in-out;
}

body main#game-section div.game-container .game-header #grid-text:hover  {
  padding-right: 1.3em !important;
  padding-left: 1.3em !important;
} 

body main#game-section div.game-container .game-header .timer-container:hover {
  padding-right: 1.8em !important;
  padding-left: 1.8em !important;
}

body main#game-section div.game-container .game-header .timer-container svg {
  width: 1.5em !important;
  animation: move 4s linear infinite;
}

@keyframes move {
  33.3% {
    transform: rotate(-20deg);
  }
  66.6% {
    transform: rotate(20deg) ;
  }
  100% {
    transform: rotate(0deg);
  }
}

/* body main#game-section div.game-container .game-header .timer-container  #timer-text {
  animation: scale 1s linear infinite;
 } */
 
 @keyframes scale {
  33.3% {
    font-size: 20px;
  }
  66.6% {
    font-size: 16px;
  }
  100% {
    font-size: 18px;
  }
}

body main#game-section div.game-container #btn-reset,
body main#game-section div.game-container #btn-pause,
body main#game-section div.game-container #btn-cheating-mode {
  background-color: #DFE6EC !important;
  border-radius: 0.375rem !important;
  padding: 0.35rem 0.5rem !important;
  box-shadow: 0px 4px 0px #31485ac7;
  width: auto;
  transition: box-shadow 0.5s linear transform 0.5s linear !important;
}

body main#game-section div.game-container .game-header #btn-reset svg {
  animation: rotate 6s infinite linear !important;
}

@keyframes rotate {
  to {
    transform: rotate(0deg);
  }

  from {
    transform: rotate(360deg);
  }
}

body main#game-section div.game-container .game-body {
  padding: 20px 0px 20px 0px;
}

body main#game-section div.game-container .game-body div.d-flex {
  flex-wrap: nowrap;
}

body main#game-section div.game-container .game-body .piece-container {
  padding: 10px 0px 10px 0px !important;
  width: 100%;
} 

body main#game-section div.game-container .game-body .piece-container button.piece {
  padding: 16% 13% !important;
  width: 55%;
  font-size: 24px;
  font-weight: bold;
  border-radius: 9px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  transition: background .2s ease, color .2s ease;
} 

body main#game-section div.game-container .game-body .piece-container button.piece.active {
  background-color: #F9A622;
  color: #fff;
} 

body main#game-section div.game-container .game-body .piece-container button.piece.inactive {
  background-color: #DFE6EC;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
} 

body main#game-section div.game-container .game-body .piece-container button.piece:focus {
  background-color: #DFE6EC;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

@media (max-width: 1400px) {
  body main#game-section div.game-container {
    width: 85vw;
  }
}

@media (max-width: 991px) {
  body main#game-section div.game-container .game-header .game-mode {
    font-size: 18px;
  }

  body main#game-section div.game-container .game-header #grid-text {
    font-size: 16px;
    padding: .5em .55em !important;
  }

  body main#game-section div.game-container .icon-container {
    width: 1.6em;
    height: auto;
  }

  body main#game-section div.game-container .game-header .timer-container  {
    font-size: 16px;
    padding: 0.3em .8em !important;
  }

  body main#game-section div.game-container #btn-reset,
  body main#game-section div.game-container #btn-pause,
  body main#game-section div.game-container #btn-cheating-mode {
    padding: 0.25rem 0.4rem !important;
  }

  body main#game-section div.game-container #btn-cheating-mode img {
    width: 26px;
  }

  body main#game-section div.game-container .game-body .piece-container button.piece {
    width: 60%;
    font-size: 21px;
    padding: 20% 13% !important;
  } 
}

@media (max-width: 767px) {
  body main#game-section div.game-container .game-header .game-mode {
    font-size: 16px;
  }

  body main#game-section div.game-container .game-header #grid-text {
    font-size: 14px;
    padding: .5em .55em !important;
  }

  body main#game-section div.game-container .icon-container {
    width: 1.6em;
    height: auto;
  }

  body main#game-section div.game-container .game-header .timer-container  {
    font-size: 14px;
    padding: 0.3em .8em !important;
  }

  body main#game-section div.game-container #btn-cheating-mode img {
    width: 26px;
  }

  body main#game-section div.game-container .game-body .piece-container button.piece {
    width: 75%;
    font-size: 18px;
    padding: 25% 10% !important;
  } 
}

@media (max-width: 576px) {
  body main#game-section div.game-container {
    width: 90vw;
  }

  body main#game-section div.game-container .game-body .piece-container button.piece {
    width: 80%;
    font-size: 15px;
    padding: 25% 5% !important;
  } 

  body main#game-section div.game-container .game-header .game-mode {
    display: none;
  }
}

@media (max-width: 400px) {
  body main#game-section div.game-container {
    width: 95vw;
  }
  body main#game-section div.game-container .game-body .piece-container button.piece {
    width: 85%;
    font-size: 14px;
    padding: 30% 10% !important;
  } 

  body main#game-section div.game-container .game-header .game-mode {
    display: none;
  }

}