/* header {
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    background-color: #31485A;
    color: #fcfcfc;

    padding-top: 30px;
    margin-bottom: 20px;

    align-items: baseline;
} */

h2 {
    text-align: center;
    font-size: 42px;
    margin-bottom: 20px;
}

form {
    margin: 0 auto;
    max-width: 50%;
    min-width: 200px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.user-info {
    flex-wrap: wrap;
}

.user-info input {
    padding: 1px 2px;
    margin-bottom: 10px;
    width: calc(50% - 10px);
}

@media (max-width: 500px) {
    .user-info input {
        width: 100%;
    }
}

input {
    vertical-align: middle;
    width: 100%;
}

input:invalid {
    border-color: red;
}

/* input[type=submit]  {
    margin: 0 auto;
    margin-bottom: 10px;

    width: 100px;
    height: 35px;

    background-color: #31485A;
    color: #fcfcfc;

    border-radius: 10px;
    border-style: none;
} */

button.btn {
    margin-bottom: 10px;
    font-size: 20px;
}

button.btn:active {
    box-shadow: 0px 0px 2px #31485A;

}

/* 
input[type=submit]:active {
    box-shadow: 0px 0px 2px #31485A;
} */

a {
    width: 100%;
    text-align: center;
    text-decoration: none;
}